/////////////////////////////////////////////////////////////////////////////
// Application icon  (must be first for some shells)
/////////////////////////////////////////////////////////////////////////////
APP_ICON ICON "icon.ico"
